@model ForeignLangTutors.Models.Classes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Classes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginningTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginningTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.СompletionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.СompletionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
