@model IEnumerable<ForeignLangTutorsMVC.Statistics.TutorStats>

@{
    ViewData["Title"] = "Статистика репетиторов";
}

<h1>Статистика репетиторов</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Ученик
            </th>
            <th>
                Язык
            </th>
            <th>
                Оценка
            </th>
            <th>
                Уровень
            </th>
            <th>
                Кол-во занятий
            </th>
            <th>
                Кол-во студентов
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfClasses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfStudents)
                </td>
            </tr>
        }
    </tbody>
</table>

